/* header */
header p{
padding: 20px;
}
.navbar .navbar-brand img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

/* main */

body {
  font-family: Arial, sans-serif;
}

.welcome {
  height: 50vh;
  overflow: hidden;
  position: relative;
}

.carousel,
.carousel-inner,
.carousel-item,
.carousel-item::before {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: auto;
  content: "";
  background-color: rgba(24, 24, 240, 0.226);
}

.carousel-caption h5 {
  color: white;
  font-size: 2rem;
  font-weight: bold;
}

.statistics {
  padding: 80px;
}

.login-button {
  padding: 80px;
  text-align: center;
}

.custom-button {
  padding: 15px 35px;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 24px;
}

#footer {
  background:  rgb(15, 64, 227);
  color: #fff;
  font-size: 16px;
  text-align: center;
  padding: 24px 0;
  margin-top: 300px;
}

#footer .copyright {
  margin: 0 0 5px 0;
}

#footer .credits {
  font-size: 14px;
}

#footer .credits a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

/* forms */

.form-section {
  max-width: 500px;
  margin: 100px auto;
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.form-section h1 {
  text-align: center;
  margin-bottom: 20px;
}

.form-section form {
  display: flex;
  flex-direction: column;
}

.form-section form label {
  margin: 10px 0 5px;
}

.form-section form input,
.form-section form select {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-section button {
  padding: 10px;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-section button:hover {
  background-color: #0056b3;
}
